<%= form_with(model: order, local: true) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :table_id %>
    <%= f.collection_select :table_id, Table.order(:name), :id, :name, include_blank: true %>
  </div>

  <%= f.fields_for :order_items do |builder| %>
    <%= render 'order_item_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Item", f, :order_items %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">
  jQuery(function() {
    $('form').on('click', '.remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
    });
    return $('form').on('click', '.add_fields', function(event) {
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
    });
  });
</script>